{% extends 'base.html.twig' %}

{% block title %}Hello CoquilleController!{% endblock %}

{% block body %}
{% for coquille in coquilles %}
        <div class="col-lg-4 my-2 d-flex justify-content-center">
            <div class="card border-dark mb-3" style="auto: 20rem;">
                <div class="card-header">{{coquille.nomArticle}}</div>
                <img src="boxe/coquille/{{coquille.imageArticle}}" alt="" width="100">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text">{{coquille.descriptionArticle}}</p>
                  <button type="button" class="btn btn-light" li class="nav-item">
                    <a class="nav-link" href="{{path('app_short')}}">commandez </a></button>
      
                </div>
        </div>
        </div>


        {% endfor %}
{% endblock %}
