{% extends 'base.html.twig' %}

{% block title %}Hello CasqueController!{% endblock %}

{% block body %}
{% for casque in casques %}
        <div class="col-lg-4 my-2 d-flex justify-content-center">
            <div class="card border-dark mb-3" style="auto: 20rem;">
                <div class="card-header">{{casque.nomArticle}}</div>
                <img src="boxe/casque/{{casque.imageArticle}}" alt="" width="100">
                <div class="card-body">
                  <h4 class="card-title"></h4>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <button type="button" class="btn btn-light" li class="nav-item">
                    <a class="nav-link" href="{{path('app_short')}}">commandez </a></button>
      
                </div>
        </div>
        </div>


        {% endfor %}
{% endblock %}
