{% extends 'base.html.twig' %}

{% block title %}ACCUEIL{% endblock %}

{% block body %}
<div class="container text-center">
    <div class="row">
        <div class="col">
            <h1>BOXING SHOPPING 1981</h1>

   <div class="btn-btn" role="group" aria-label="Button group with nested dropdown">
    <a href="{{path('app_equipement')}}" class="btn btn-light">ÉQUIPEMENT</a>
    <div class="btn-group" role="group">

      </div>
    </div>
  </div>

  <div class="btn-btn" role="group" aria-label="Button group with nested dropdown">
    <a href="{{path('app_protection')}}" class="btn btn-light">PROTECTION</a>
    <div class="btn-group" role="group">

      </div>
    </div>
  </div>

  <h1 class="mb-5">Categories</h1>
  <div class="row">
      {% for cat in cats %} 
      <div class="col-lg-6 mb-3 d-flex justify-content-center">
          <div class="card" style="width: 18rem;">
              <img src="boxe/{{ cat.imageArticle }}" class="card-img-top" alt="...">
              <div class="card-body">
                  <h2 class="card-title"></h2>
                  <button type="button" class="btn btn-light" li class="nav-item">
                    <a class="nav-link" >{{ cat.nomCategorie }}</a></button>

              </div>

          </div>
      </div>
      
      {% endfor %}
      
      </div>

        </div>
    </div>
</div>


    {% endblock %}
    {% block article %}


    {% endblock %}
    {% block footer %}{% endblock %}